.flex-item{
    color: white;
    font-family: 'Lato', sans-serif;
    border: 1px solid green;
    padding: 10px;
    margin: 3px;
    background-color: orange;
    flex-basis: 27%;
}

.flex-item:nth-last-of-type(odd){
    background-color: gray;
}

.container{
    border: 1px dashed red;
    display: flex; 
    /* flex-direction: row-reverse; */
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
}


