#static{
    background-color: red;
    height: 100px;
    width: 400px;
}

#relative{
    position: relative;
    width:600px;
    height: 400px;
    background-color:gray;
    top: 50px;
    left:50px;
}

#absolute{
    position: absolute;
    top:20px;
    left:30px;
    width: 400px;
    height: 100px;
    background-color: chocolate;
}
#fixed{
    position:fixed;
    width: 300px;
    height: 200px;
    background-color: brown;
    bottom: 40px;
    right: 20px;
}

#sticky{
    width: 100%;
    height: 100px;
    background-color: darkcyan;
    position: sticky;
    top: 0;
}